@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');

:root {
  --clr-primary-dark: #7f4112;
  --clr-primary: #b15921;
  --clr-primary-light: #ebc7a5;
  --clr-primary-white: #fff8f0;
  --ff-primary: 'Noto Sans TC', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 35px;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-primary-white);
  color: var(--clr-primary-dark);
  line-height: 1.5;
  font-size: 0.875rem;
}
a {
  text-decoration: none;
  color: var(--clr-primary);
}
img:not(.icon) {
  display: block;
  width: 100%;
}
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
p {
  font-family: var(--ff-text);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
