@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap');

:root {
  --clr-primary-dark: #7f4112;
  --clr-primary: #b15921;
  --clr-primary-light: #ebc7a5;
  --clr-primary-white: #fff8f0;
  --ff-primary: 'Noto Sans TC', sans-serif;
  --transition-linear: all 0.3s linear;
  --transition-ease-in: all 0.3s ease-in;
  --transition-cubic-1: all 0.3s cubic-bezier(0.54, -0.81, 0.57, 0.57);
  --spacing: 35px;
  --radius-small: 0.3rem;
  --radius-medium: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-primary);
  background: var(--clr-primary-white);
  color: var(--clr-primary-dark);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--clr-primary);
}
img {
  display: block;
  width: 100%;
}
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
p {
  font-family: var(--ff-text);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*
=============== 
nav header
===============
*/
/* navbar */
nav {
  background: var(--clr-primary-light);
  opacity: 0.8;
  padding: 1.2rem 1.5rem;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.logo {
  animation: bounce 2s ease infinite;
}
/* nav-toggle */
.nav-toggle {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  transition: var(--transition-cubic-1);
}
.burger-menu {
  width: 100%;
  height: 15%;
  background: var(--clr-primary-dark);
  border-radius: 5px;
}
.burger-menu.start-line {
  width: 50%;
  align-self: start;
  transition: var(--transition-cubic-1);
}
.burger-menu.end-line {
  width: 50%;
  align-self: end;
  transition: var(--transition-cubic-1);
}
/* nav-toggle click animation */
.nav-toggle.switch-icon {
  transform: rotate(-45deg);
}
.switch-icon .burger-menu.start-line {
  transform: rotate(-90deg) translate(-2px, 7px);
}
.switch-icon .burger-menu.end-line {
  transform: rotate(-90deg) translate(2px, -8px);
}
/* shopping bag */
.shopping-bag {
  width: 30px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.shopping-bag a {
  opacity: 0.8;
  transition: var(--transition-ease-in);
}
.shopping-bag:hover a {
  opacity: 1;
  filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.3));
  transform: translateY(-0.2rem);
}
.shopping-bag-tips {
  width: max-content;
  position: absolute;
  padding: 0.3rem;
  background: var(--clr-primary);
  border-radius: var(--radius-small);
  color: var(--clr-primary-white);
  font-size: 12px;
  line-height: 0.5;
  opacity: 0;
  top: 10px;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  pointer-events: none;
}
.shopping-bag-tips::before {
  position: absolute;
  content: '';
  border: 5px solid transparent;
  border-bottom-color: var(--clr-primary);
  left: 50%;
  transform: translate(-50%, -140%);
}
.shopping-bag:hover .shopping-bag-tips {
  top: 33px;
  opacity: 1;
}
/* links */
.links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.links li {
  margin: 0.5rem 0;
  font-size: 1.1rem;
}
.links li a {
  transition: var(--transition-ease-in);
}
.links li:hover a {
  color: var(--clr-primary-white);
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition-linear);
}
@media screen and (min-width: 768px) {
  .nav-toggle {
    display: none;
  }
  .nav-center {
    width: 90vw;
    max-width: 1920px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .nav-header {
    display: contents;
  }
  .shopping-bag {
    order: 2;
  }
  .links {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  .links-container {
    height: auto !important;
    width: 100%;
  }
  .links li {
    margin: 0 1rem;
  }
}
/*
=============== 
banner
===============
*/
.banner {
  height: 100vh;
  display: grid;
  grid-template-rows: 3fr 2fr 1fr;
  background: linear-gradient(
    0deg,
    rgba(144, 79, 35, 1) 19%,
    rgba(211, 176, 151, 1) 56%,
    rgba(255, 247, 239, 1) 100%
  );
}
/* decorate container */
.decorate-container {
  grid-column: 1;
  grid-row: 1/3;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
}
.strawberry-container {
  max-width: 10rem;
  min-width: 8rem;
  transform: translate(-2.8rem, 11rem);
  grid-column: 1 / 4;
  grid-row: 1;
}
.chocolate-container {
  max-width: 20rem;
  min-width: 16rem;
  transform: translate(-2.5rem, 0);
  grid-column: 2 /5;
  grid-row: 1;
}
.milk-container {
  max-width: 15rem;
  min-width: 11rem;
  transform: translate(-2rem, 8rem);
  grid-column: 4 /6;
  grid-row: 1;
}
@media screen and (min-width: 576px) {
  .decorate-container {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
  .strawberry-container {
    width: 13rem;
    max-width: 20rem;
  }
  .milk-container {
    max-width: 20rem;
  }
}
@media screen and (min-width: 992px) {
  .strawberry-container {
    width: 19rem;
  }
  .chocolate-container {
    width: 25rem;
    max-width: 25rem;
  }
  .milk-container {
    width: 23rem;
    max-width: 24rem;
    transform: translate(-2rem, 5rem);
  }
}

/* universe container */
.universe-container {
  grid-column: 1;
  grid-row: 2/4;
  display: grid;
  align-items: center;
  position: relative;
  /* overflow: hidden; */
}

/* -- souffles */
.souffle-container {
  width: 200px;
  margin: 0 auto;
  position: relative;
}
.matcha-souffle-container {
  position: absolute;
  transform: rotate(-20deg) translate(-20%, -170%);
}

.origin-souffle-container {
  min-width: 16rem;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -80%);
  z-index: 999;
}
.chocolate-souffle-container {
  position: absolute;
  transform: rotate(20deg) translate(20%, -150%);
}
/*  banner title */
.banner-title {
  width: 15rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -20%);
}
/*  planet container */
.planet-container {
  width: 800px;
  max-width: 900px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}

/* souffle-universe 和 decorate-container 看是怎麼排版的 */
